__pycache__
.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.vscode/
.idea/
Thumbs.db
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
#db.sqlite3
instance/
.webassets-cache
.scrapy
docs/_build/
target/
profile_default/
ipython_config.py
.python-version
celerybeat-schedule
*.sage.py
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json

