{% extends 'base.html' %}

{% block title %} {{t_id}} {% endblock title %}

  
{% block body %}

<head>
  <title>Home Page</title>
  <style>
      .no-outline:focus {
          outline: none;
      }
    </style>
</head>

<body >
    <form method="POST" action="/take_test/">
        {% csrf_token %}
        <div>
            <h1><b>{{t_id}}<b><h1>
            <div style="border-style:dashed;border-color:#fffffF;border-width:thin;height:270px;width:50%;margin:0 auto;padding:0px 5px;">
            
                
            </div>
        </div>
    </form>
</body>


{% endblock body %}
